name: CI Portofolio Akbar

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout @v4

      - name: Set up Node
        uses: actions/setup-node @v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Build Vite app
        run: npm run build

      - name: Build Docker image
        run: docker build -t uasrpll/portofolio-akbarnasa:ci .
